<!doctype html>
<head>
  <title>Form page</title>
  <link rel="stylesheet" href="/static/app.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <h1>Things to do</h1>
  <form action="" method="post" novalidate>
    {{formRemove.removeMessage.label }}
    {{ formRemove.removeMessage }}
    {{ formRemove.delete() }}
  </form>
<ul>
  {% for item in my_message %}
    {% if item.flag %}
       <span class="glyphicon glyphicon-flag"></span>
    {% endif %}
   <TABLE>{{item}}</TABLE>
  {% endfor %}
   </ul> 
</body>
